.chatInterface{
    /*positioning indicators:
    grid-area: chatInterface;
    border: 1px solid red;
    */

    /*layout
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    */
    display: flex;
    width: 550px;
    height: 50px;
    justify-self: center;
}
.textWrapper{
    /*layout*/
    display: flex;
    align-items: flex-end;
    flex: 9;    
}
.msgTxtArea{
    border-radius: 0px;
    width: 100%;
    resize: horizontal;
    overflow-y: auto;
    max-height: 200px;
    align-self: center;
}
.msgButton{
    /*color*/
    background-color: #151515;

    /*layout*/
    height: 40px;
    align-self: center;
    justify-items: center;
    flex: 1;

}
.rightBtn{
    border-radius: 50px 0px 0px 50px;
    
}
.leftBtn{
    border-radius: 0px 50px 50px 0px;   
}
.msgButton:hover{
    background-color: #0c0c0c;
    fill:#E84545;
    outline: 1px solid #E84545;
    outline-offset: -1px;
}
