.channel{
    /*layout*/
    height: 100%;
    display: grid;
    grid-template-columns:  1fr 2fr 8fr;
    grid-template-rows: 9fr 1fr;
    grid-template-areas:
    'user sideNav chatDisplay'
    'user sideNav chatInterface'  ;

    /*colors*/
    background-color: #0c0c0c;

}
.userNav{
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5em 0px 5em 0px;
    align-items: center;
}
.userNav button{

    border-radius: 70px;
}
.sideNav{
    grid-area: sideNav;
    /*
    border: 1px solid blue;*/
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows:auto;

}
.channelOption{
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:auto;
    border: 1px solid white;

    padding: 5px 0px 5px 5px;

}

.chatDisplay{
    grid-area: chatDisplay;
    color: gray;
    /*border: 1px solid green;*/
    /*layout*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
    min-height: 0;
    
    border-left:1px solid #171717 ;
    border-bottom:1px solid #171717 ;
}
