.channel{
    /*layout*/
    height: 100%;
    display: grid;
    grid-template-columns:   3fr 10fr 2fr;
    grid-template-rows: 1fr 17fr 2fr;
    grid-template-areas:
    ' sideNav chatDisplay members'
    ' sideNav chatDisplay members'
    ' sideNav chatInterface members'  ;
    /*colors*/
    background-color: #0c0c0c;

}

.chatDisplay{
    grid-area: chatDisplay;
    color: gray;
    /*border: 1px solid green;*/
    /*layout*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
    min-height: 0;
}

/*responsive layouts*/
/*laptops*/
@media (max-width: 1200px) {
    .channel{
        grid-template-columns: auto 7fr auto;
        grid-template-rows: auto auto;

    }
}
/*tablet*/
@media (max-width: 840px) {

    .chatDisplay{
        width: fit-content;
    }
}
/*mobile*/
@media (max-width: 480px) {
    .channel{
        display: flex;
        flex-direction: column;
    }
}