
.sideNav{
    grid-area: sideNav;
    display: flex;
    position: relative;
}

.logo{
    grid-area: logo; 
    color: #E84545; 
    display: flex;

    align-items: center;  
    justify-content: flex-start;
    transform: rotate(-90deg);
    padding: 45px 0px;

}
.userNav{
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50px;
    align-items: center;
    gap: 1em;

    background-color: #171717;
}
.userNav button{

    border-radius: 70px;
}
.channelList{
    background: linear-gradient(to left, #010101, #111111);
    width: 100%;
    text-align: center;
    display: flex;
    gap: 2px;
}
.listHeader{
    background-color: #0c0c0c;
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.channelOption{
    display: grid;
    height: fit-content;
    width: 10em;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:auto;
    padding: 5px 0px 5px 5px;
    grid-template-areas:
    'logo text'
    ;

    /*font-text*/
    font-weight: 350;
    color: #62646b;
    font-size: .9em;
    text-align: start;
    align-items: center;

}
.channelOption:hover{
    color: white; 
    border-bottom: 1px solid white;
}
/*arrow icons*/
.closeChannels{
    position: absolute;
    top: 50%;
    left: 20%;
}
.openChannels{
    position: absolute;
    top: 50%;
    left: 5%;
}
/*variable for element display*/
.close{
    display: none;
}
.open{
    display: block;
}
@media (max-width: 1200px){
    .closeChannels{
        left: 13em;
    }
}
/*tablet*/
@media (max-width: 840px){
    .sideNav{
        width: 100%;
    }
    .channelOption{
        width: 10em;
    }
    .closeChannels{
        left: 13em;
    }
}
/*mobile*/
@media (max-width: 650px){
    .sideNav{
        display: none;
    }
}